.root {
  display: flex;
  flex-direction: row;
  height: 100px;
}

img {
  width: 200px;
  margin-left: 50px;
}

.buttonWrapper {
  margin-top: 12px; /*match padding of radio buttons*/
}

/* this can go away somehow... should be at a higher level */
a {
  font-family: "roboto";
}
